# Object files
*.o
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*

# Executables
*.exe
*.out

# Debug files
*.su
*.idb
*.pdb

# Build directory
build/

# Any header files in the test directory
test/*.h

# Documentation intermediate files
*.aux
*.cps
*.log
*.toc

